@model ZarzadzanieNotatkami.Models.Note
@using System.Text.Encodings.Web
@{
    ViewData["Title"] = "Details";

    //prepering data to show without html tags, it interprets them and show it to user 
    var writer = new System.IO.StringWriter();
    Html.DisplayFor(model => model.Text).WriteTo(writer,HtmlEncoder.Default);
    //text to show user
    var notesText = writer.ToString();
    //interpret html tags, e.g. <b></b> is shown in bold insted of showing tags
    notesText = System.Web.HttpUtility.HtmlDecode(notesText);
}

<h1>Details</h1>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(notesText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Important)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Important)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
