@model NotesViewModel

@{
    ViewData["Title"] = "Notes Managment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var headerMetaData = Model.Notes?.FirstOrDefault();
    var headerForUser = Model.Users.FirstOrDefault();

    List<SelectListItem> userListItems = Model.Users.ConvertAll(user =>
    {
        return new SelectListItem
        {
            Text = user.Name,
            Value = user.Id.ToString()
        };
    });
}

<h1>Notes Manager</h1>

<p>
    <a asp-action="Create">Create New Note</a>
</p>
<p>
    <a asp-action="Create" asp-controller="User">Create New User</a>
</p>
<p>
    <a class="btn btn-dark" asp-controller="User" asp-action="Manage">Manage users</a>
</p>

<div class="list-inline">
    <p class="list-inline-item">Sort title: </p>
    <form asp-action="SortAsc" method="post" class="list-inline-item">
        <button class="btn btn-primary" type="submit">Sort ascending</button>
    </form>

    <form asp-action="SortDesc" method="post" class="list-inline-item">
        <button class="btn btn-primary" type="submit">Sort descending</button>
    </form>
    <div class="list-inline-item">
        <label asp-for="Users"></label>
        <select id="userSelectList" asp-items="@userListItems"></select>
    </div>
    <div class="list-inline-item">
        <a class="btn btn-primary" onclick="changeUser();">Change User</a>
    </div>
</div>

<form method="post" asp-action="Importants">
    @for (int i = 0; i < Model.Notes.Where(note=>note!=null).Count(); i++)
    {
        @Html.HiddenFor(model => Model.Notes[i].Id);
        @Html.HiddenFor(model => Model.Notes[i].Text);
        @Html.HiddenFor(model => Model.Notes[i].Title);
    }

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th style="width:auto;">
                    @Html.DisplayNameFor(model => headerMetaData.Title)
                </th>
                <th>Important</th>
                <th>
                    @Html.DisplayNameFor(model => headerForUser.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Notes.Count(); i++)
            {
                var item = Model.Notes[i];

                <tr>
                    <td style="width:auto;">
                        @Html.DisplayFor(modelItem => Model.Notes[i].Title)
                    </td>
                    <td>
                        <input type="checkbox" asp-for="Notes[i].Important" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Notes[i].User.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td><input class="btn btn-dark" type="submit" value="Send new importants" title="Updates all important fields within all records" /></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</form>
@section Scripts{
    <script type="text/javascript">
        function changeUser() {
            var userSelectList = document.getElementById("userSelectList");
            var id = userSelectList.value;
            location.href = '/Note/ChangeUser/' + id;

        }

    </script>
}